<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="approvalMapper">

	<resultMap type="Approval" id="approvalResultMap">
		<id column="APPROVAL_NO" property="approvalNo" />
		<result column="MEMBER_ID" property="memberId" />
		<result column="MEMBER_NAME" property="memberName" />
		<result column="MEMBER_JOB" property="memberJob" />
		<result column="MEMBER_DEPT" property="memberDept" />
		<result column="APPROVAL_TYPE" property="approvalType" />
		<result column="APPROVAL_TITLE" property="approvalTitle" />
		<result column="APPROVAL_CONTENTS" property="approvalContents" />
		<result column="APPROVAL_CC" property="approvalCC" />
		<result column="APPROVAL_DATE" property="approvalDate" />
		<result column="APPROVAL_STATE" property="approvalState" />
		<result column="APPROVAL_FIRST_ID" property="approvalFirstId" />
		<result column="APPROVAL_FIRST_NAME" property="approvalFirstName" />
		<result column="APPROVAL_FIRST_JOB" property="approvalFirstJob" />
		<result column="APPROVAL_FIRST_DEPT" property="approvalFirstDept" />
		<result column="APPROVAL_FIRST_DATE" property="approvalFirstDate" />
		<result column="APPROVAL_FIRST_CHECK" property="approvalFirstCheck" />
		<result column="APPROVAL_SECOND_ID" property="approvalSecondId" />
		<result column="APPROVAL_SECOND_NAME" property="approvalSecondName" />
		<result column="APPROVAL_SECOND_JOB" property="approvalSecondJob" />
		<result column="APPROVAL_SECOND_DEPT" property="approvalSecondDept" />
		<result column="APPROVAL_SECOND_DATE" property="approvalSecondDate" />
		<result column="APPROVAL_SECOND_CHECK" property="approvalSecondCheck" />
	</resultMap>
	
	<resultMap type="ApprovalReply" id="approvalReplyResultMap">
		<result column="CMT_NO" property="cmtNo" />
		<result column="MEMBER_ID" property="memberId" />
		<result column="APPROVAL_NO" property="approvalNo" />
		<result column="CMT_CONTENTS" property="cmtContents" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="MEMBER_NAME" property="memberName" />
	</resultMap>
	
	<!-- =============== SELECT =============== -->
	<!-- 조건에 맞는 글 갯수 구하기  -->
	<select id="selectListCount" resultType="_int" parameterType="Approval">
		<if test='approvalState.toString() == "progress"'>
			SELECT COUNT(*) FROM APPROVAL WHERE (MEMBER_ID = #{memberId } AND APPROVAL_STATE = 'N') OR (MEMBER_ID = #{memberId } AND APPROVAL_STATE = 'I')
		</if>
		<if test='approvalState.toString() == "suspense"'>
			SELECT COUNT(*) FROM APPROVAL WHERE (APPROVAL_FIRST_ID = #{memberId } AND APPROVAL_STATE = 'N') OR (APPROVAL_FIRST_ID = #{memberId } AND APPROVAL_STATE = 'I') OR (APPROVAL_SECOND_ID = #{memberId } AND APPROVAL_STATE = 'N') OR (APPROVAL_SECOND_ID = #{memberId } AND APPROVAL_STATE = 'I')
		</if>
		
	</select>
	
	<!-- 글 리스트  -->
	<select id="selectList" resultMap="approvalResultMap" parameterType="Approval">
			SELECT a.APPROVAL_NO, a.MEMBER_ID, d.MEMBER_NAME AS MEMBER_NAME, a.APPROVAL_TYPE, a.APPROVAL_TITLE, a.APPROVAL_CONTENTS, a.APPROVAL_CC, a.APPROVAL_DATE, a.APPROVAL_STATE, b.MEMBER_NAME AS APPROVAL_FIRST_NAME, a.APPROVAL_FIRST_DATE, a.APPROVAL_FIRST_CHECK, c.MEMBER_NAME AS APPROVAL_SECOND_NAME, a.APPROVAL_SECOND_DATE, a.APPROVAL_SECOND_CHECK 
			FROM APPROVAL a 
		<if test='approvalState.toString() == "progress"'>
			INNER JOIN MEMBER b ON a.APPROVAL_FIRST_ID = b.MEMBER_ID 
			INNER JOIN MEMBER c ON a.APPROVAL_SECOND_ID = c.MEMBER_ID 
			INNER JOIN MEMBER d ON a.MEMBER_ID = d.MEMBER_ID 
			WHERE (a.MEMBER_ID = #{memberId } AND a.APPROVAL_STATE = 'N') OR (a.MEMBER_ID = #{memberId } AND a.APPROVAL_STATE = 'I')
			ORDER BY a.APPROVAL_NO DESC
		</if>
		<if test='approvalState.toString() == "suspense"'>
			INNER JOIN MEMBER b ON a.APPROVAL_FIRST_ID = b.MEMBER_ID 
			INNER JOIN MEMBER c ON a.APPROVAL_SECOND_ID = c.MEMBER_ID 
			INNER JOIN MEMBER d ON a.MEMBER_ID = d.MEMBER_ID 
			WHERE (a.APPROVAL_FIRST_ID = #{memberId } AND a.APPROVAL_STATE = 'N') OR (a.APPROVAL_FIRST_ID = #{memberId } AND a.APPROVAL_STATE = 'I') OR (a.APPROVAL_SECOND_ID = #{memberId } AND a.APPROVAL_STATE = 'N') OR (a.APPROVAL_SECOND_ID = #{memberId } AND a.APPROVAL_STATE = 'I')
		</if> 
	</select>
	
	<!-- 글 상세보기  -->
	<select id="selectOne" resultMap="approvalResultMap" parameterType="Approval">
		SELECT a.APPROVAL_NO, a.MEMBER_ID, d.MEMBER_NAME AS MEMBER_NAME, d.MEMBER_JOB AS MEMBER_JOB, d.MEMBER_DEPT AS MEMBER_DEPT, a.APPROVAL_TYPE, a.APPROVAL_TITLE, a.APPROVAL_CONTENTS, a.APPROVAL_CC, a.APPROVAL_DATE, a.APPROVAL_STATE, a.APPROVAL_FIRST_ID, b.MEMBER_NAME AS APPROVAL_FIRST_NAME, b.MEMBER_JOB AS APPROVAL_FIRST_JOB, b.MEMBER_DEPT AS APPROVAL_FIRST_DEPT, a.APPROVAL_FIRST_DATE, a.APPROVAL_FIRST_CHECK, a.APPROVAL_SECOND_ID, c.MEMBER_NAME AS APPROVAL_SECOND_NAME, c.MEMBER_JOB AS APPROVAL_SECOND_JOB, c.MEMBER_DEPT AS APPROVAL_SECOND_DEPT, a.APPROVAL_SECOND_DATE, a.APPROVAL_SECOND_CHECK 
		FROM APPROVAL a 
		INNER JOIN MEMBER b ON a.APPROVAL_FIRST_ID = b.MEMBER_ID 
		INNER JOIN MEMBER c ON a.APPROVAL_SECOND_ID = c.MEMBER_ID 
		INNER JOIN MEMBER d ON a.MEMBER_ID = d.MEMBER_ID 
		WHERE a.APPROVAL_NO = #{approvalNo }
	</select>
	
	<!-- 댓글 리스트  -->
	<select id="selectListReply" resultMap="approvalReplyResultMap" parameterType="_int">
		SELECT a.CMT_NO, a.MEMBER_ID, b.MEMBER_NAME AS MEMBER_NAME, a.APPROVAL_NO, a.CMT_CONTENTS, a.ENROLL_DATE
		FROM APPROVAL_CMT a
		INNER JOIN MEMBER b ON a.MEMBER_ID = b.MEMBER_ID
		WHERE a.APPROVAL_NO = #{approvalNo }
		ORDER BY a.ENROLL_DATE DESC
	</select>
	
	<!-- =============== INSERT =============== -->
	<!-- 결재문 등록 -->
	<insert id="insertApproval" parameterType="Approval">
		INSERT INTO APPROVAL 
		VALUES(APPROVAL_SEQ.NEXTVAL, #{memberId }, #{approvalType }, #{approvalTitle }, #{approvalContents }, 'N', SYSDATE, 'N', #{approvalFirstId }, NULL, 'N', ${approvalSecondId }, NULL, 'N')
	</insert>
	
	<!-- 댓글 등록  -->
	<insert id="insertReply" parameterType="ApprovalReply">
		INSERT INTO APPROVAL_CMT
		VALUES(APPROVAL_REPLY_SEQ.NEXTVAL, #{memberId }, #{approvalNo }, #{cmtContents }, SYSDATE)
	</insert>
	
	<!-- 파일 등록  -->
	<insert id="insertFile" parameterType="ApprovalFile">
		INSERT INTO APPROVAL_FILE
		VALUES(APPROVAL_FILE_SEQ.NEXTVAL, #{originalFileName }, #{reNameFileName }, #{approvalFilePath }, #{approvalFileSize }, SYSDATE, APPROVAL_SEQ.CURRVAL)
	</insert>
	
	<!-- =============== UPDATE =============== -->
	<!-- 글 상태 변경  -->
	<update id="updateApprovalState" parameterType="Approval">
		UPDATE APPROVAL 
		SET  APPROVAL_STATE = #{approvalState } 
		WHERE APPROVAL_NO = #{approvalNo }
	</update>
	
</mapper>
