<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="approvalMapper">

	<resultMap type="Approval" id="approvalResultMap">
		<id column="APPROVAL_NO" property="approvalNo" />
		<result column="MEMBER_ID" property="memberId" />
		<result column="APPROVAL_TYPE" property="approvalType" />
		<result column="APPROVAL_TITLE" property="approvalTitle" />
		<result column="APPROVAL_CONTENTS" property="approvalContents" />
		<result column="APPROVAL_CC" property="approvalCC" />
		<result column="APPROVAL_DATE" property="approvalDate" />
		<result column="APPROVAL_STATE" property="approvalState" />
		<result column="APPROVAL_FIRST" property="approvalFirst" />
		<result column="APPROVAL_FIRST_DATE" property="approvalFirstDate" />
		<result column="APPROVAL_SECOND" property="approvalSecond" />
		<result column="APPROVAL_SECOND_DATE" property="approvalSecondDate" />
		<result column="APPROVAL_FIRST_CHECK" property="approvalFirstCheck" />
		<result column="APPROVAL_SECOND_CHECK" property="approvalSecondCheck" />
	</resultMap>
	
	<!-- =============== SELECT =============== -->
	<!-- 조건에 맞는 글 갯수 구하기  -->
	<select id="selectListCount" resultMap="approvalResultMap">
		SELECT COUNT(*) FROM APPROVAL WHERE APPROVAL_TYPE = #{boardType }
	</select>
	
	<!-- 글 리스트  -->
	<select id="selectList" resultMap="approvalResultMap" parameterType="Approval">
		<if test="approvalType.toString() == 'N'">
		SELECT * FROM APPROVAL WHERE MEMBER_ID = #{memberId };
		</if>
	
	</select>
	<!-- =============== INSERT =============== -->
	<!-- 결재문 등록 -->
	<insert id="insertApproval" parameterType="Approval">
		INSERT INTO APPROVAL 
		VALUES(APPROVAL_SEQ.NEXTVAL, #{memberId }, #{approvalType }, #{approvalTitle }, #{approvalContents }, 'N', SYSDATE, 'N', #{approvalFirst }, NULL, ${approvalSecond }, NULL, 'N', 'N')
	</insert>
	
	<!-- 파일 등록  -->
	<insert id="insertFile" parameterType="ApprovalFile">
		INSERT INTO APPROVAL_FILE
		VALUES(APPROVAL_FILE_SEQ.NEXTVAL, #{originalFileName }, #{reNameFileName }, #{approvalFilePath }, #{approvalFileSize }, SYSDATE, APPROVAL_SEQ.CURRVAL)
	</insert>
</mapper>
