<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="approvalMapper">

	<!-- =============== INSERT =============== -->
	<!-- 결재문 등록 -->
	<insert id="insertApproval" parameterType="approval">
		INSERT INTO APPROVAL 
		VALUES(APPROVAL_SEQ.NEXTVAL, #{memberId }, #{approvalType }, #{approvalTitle }, #{approvalContents }, 'N', SYSDATE, 'N', #{approvalFirst }, NULL, ${approvalSecond }, NULL, 'N', 'N')
	</insert>


</mapper>
