<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="attendanceMapper">
	<resultMap type="Attendance" id="attendanceResultMap">
		<id property="attendanceNo" column="ATTENDANCE_NO"></id>
		<result property="memberId" column="MEMBER_ID"></result>
		<result property="holidayType" column="HOLIDAY_TYPE"></result>
		<result property="startDate" column="START_DATE"></result>
		<result property="endDate" column="END_DATE"></result>
		<result property="usedHoliday" column="USED_HOLIDAY"></result>
		<result property="reason" column="REASON"></result>
		<result property="done" column="DONE"></result>
	</resultMap>
	
	<select id="selectAllList" resultMap="attendanceResultMap">
		SELECT * FROM ATTENDANCE WHERE MEMBER_ID = #{memberId} ORDER BY ATTENDANCE_NO DESC
	</select>
	
	<select id="listCount" resultType="_int">
		SELECT COUNT(*) FROM ATTENDANCE WHERE MEMBER_ID = #{memberId}
	</select>

	<insert id="insertAttendance">
		INSERT INTO ATTENDANCE VALUES 
		<if test="holidayType.toString() == '연차'"> (ATD_SEQ.NEXTVAL, #{memberId}, #{holidayType}, #{startDate}, #{endDate}, #{usedHoliday}, #{reason},'N')</if>
		<if test="holidayType.toString() == '오후 반차'"> (ATD_SEQ.NEXTVAL, #{memberId}, #{holidayType}, #{startDate}, #{endDate}, 0.5, #{reason},'N')</if>
		<if test="holidayType.toString() == '오전 반차'"> (ATD_SEQ.NEXTVAL, #{memberId}, #{holidayType}, #{startDate}, #{endDate}, 0.5, #{reason},'N')</if>
		<if test="holidayType.toString() == '경조사'"> (ATD_SEQ.NEXTVAL, #{memberId}, #{holidayType}, #{startDate}, #{endDate}, 0, #{reason},'N')</if>
	</insert>
	
	<select id="usedHolidayCount" resultType="_float">
		SELECT NVL(SUM(USED_HOLIDAY),0) AS USED_HOLIDAY FROM ATTENDANCE WHERE MEMBER_ID =#{memberId}
	</select>
	
	<delete id="deleteAttendance">
		DELETE FROM ATTENDANCE WHERE ATTENDANCE_NO = #{attendanceNo}
	</delete>
	
	<update id="updateDone">
	<![CDATA[
		UPDATE ATTENDANCE SET DONE = CASE WHEN START_DATE <= SYSDATE THEN 'Y' ELSE 'N' END
	]]>
	</update>
	
</mapper>
