<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="coopMapper">
	<resultMap type="CooperationRoom" id="coRoomResultMap">
		<id property="roomNo" column="ROOM_NO"></id>
		<result property="roomName" column="ROOM_NAME"></result>
		<result property="memberId" column="MEMBER_ID"></result>
		<result property="roomAdmin" column="ROOM_ADMIN"></result>
		<result property="status" column="STATUS"></result>
	</resultMap>

	<resultMap type="Cooperation" id="coResultMap">
		<id property="coNo" column="CO_NO"></id>
		<result property="memberId" column="MEMBER_ID"></result>
		<result property="memberName" column="MEMBER_NAME"></result>
		<result property="coContents" column="CO_CONTENTS"></result>
		<result property="originalFilename" column="ORIGINAL_FILENAME"></result>
		<result property="renameFilename" column="RENAME_FILENAME"></result>
		<result property="enrollDate" column="ENROLL_DATE"></result>
		<result property="roomNo" column="ROOM_NO"></result>
		<result property="roomName" column="ROOM_NAME"></result>
	</resultMap>
	
<!-- 협업관리 방 리스트업 -->
	<select id="selectAllList" resultMap="coRoomResultMap"> 
		SELECT a.ROOM_NO, a.ROOM_NAME, a.MEMBER_ID, b.MEMBER_NAME AS ROOM_ADMIN, a.STATUS 
		FROM COOPERATION_ROOM a 
        INNER JOIN MEMBER b ON a.MEMBER_ID = b.MEMBER_ID
		WHERE a.STATUS = 'Y' 
		ORDER BY ROOM_NO DESC
	</select>
	
	<!-- 방 가져오기 -->
	<select id="selectAllByRoom" resultMap="coResultMap"> 
		SELECT a.CO_NO, a.MEMBER_ID, b.MEMBER_NAME, a.CO_CONTENTS, a.ORIGINAL_FILENAME, a.RENAME_FILENAME, a.ENROLL_DATE, a.ROOM_NO, c.ROOM_NAME 
		FROM COOPERATION a 
        INNER JOIN MEMBER b ON a.MEMBER_ID = b.MEMBER_ID 
		INNER JOIN COOPERATION_ROOM c ON a.ROOM_NO = c.ROOM_NO 
		WHERE a.ROOM_NO = #{ roomNo } 
		ORDER BY a.CO_NO 
	</select>
	
<!-- 글 한 개 가져오기 -->
	<select id="selectOne" resultMap="coResultMap" parameterType="_int">
		SELECT a.CO_NO, a.MEMBER_ID, b.MEMBER_NAME, a.CO_CONTENTS, a.ORIGINAL_FILENAME, a.RENAME_FILENAME, a.ENROLL_DATE, a.ROOM_NO, c.ROOM_NAME
		FROM COOPERATION a
		INNER JOIN MEMBER b ON a.MEMBER_ID = b.MEMBER_ID 
		INNER JOIN COOPERATION_ROOM c ON a.ROOM_NO = c.ROOM_NO 
		WHERE CO_NO = #{coNo}
	</select>

<!-- 글생성 -->	
	<insert id="insertCoop">
		INSERT INTO COOPERATION 
		VALUES (CO_SEQ.NEXTVAL, #{memberId}, #{coContents}, #{originalFilename}, #{renameFilename}, SYSDATE, #{roomNo})
	</insert>
	
<!-- 방생성 -->	
	<insert id="insertRoom">
		INSERT INTO COOPERATION_ROOM 
		VALUES (CO_ROOM_SEQ.NEXTVAL, #{roomName}, #{memberId}, DEFAULT)
	</insert>

<!-- 글삭제 -->
	<delete id="deleteCoop" parameterType="int">
		DELETE FROM COOPERATION WHERE CO_NO = #{coNo}
	</delete>
	
<!--============== 댓글 ================-->
	<resultMap type="CooperationCmt" id="replyResultMap">
		<id property="cmtNo" column="CMT_NO"/>
		<result property="cmtContents" column="CMT_CONTENTS" />
		<result property="enrollDate" column="ENROLL_DATE" />
		<result property="coNo" column="CO_NO" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="memberName" column="MEMBER_NAME" />
	</resultMap>

	<select id="replyCount" resultMap="replyResultMap">
		SELECT CO_NO, COUNT(*)COUNT FROM COOPERATION JOIN COOPERATION_CMT USING(CO_NO) GROUP BY CO_NO
	</select>

	<select id="selectAllCmt" resultMap="replyResultMap">
		SELECT CMT_NO, CMT_CONTENTS, ENROLL_DATE, CO_NO, MEMBER_ID, MEMBER_NAME
		FROM COOPERATION_CMT JOIN MEMBER USING(MEMBER_ID)
		WHERE CO_NO = #{coNo } ORDER BY ENROLL_DATE
	</select>
	
	<insert id="insertCmt">
		INSERT INTO COOPERATION_CMT
		VALUES(CO_CMT_SEQ.NEXTVAL, #{cmtContents}, SYSDATE, #{coNo},#{memberId})
	</insert>

	<update id="updateCmt">
		UPDATE COOPERATION_CMT SET CMT_CONTENTS = #{cmtContents}
		WHERE CMT_NO = #{cmtNo}
	</update>
	
	<delete id="deleteCmt">
		DELETE FROM COOPERATION_CMT WHERE CMT_NO = #{cmtNo}
	</delete>
</mapper>