<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="coopMapper">
	<resultMap type="CooperationRoom" id="coRoomResultMap">
		<id property="roomNo" column="ROOM_NO"></id>
		<result property="roomName" column="ROOM_NAME"></result>
		<result property="memberId" column="MEMBER_ID"></result>
		<result property="roomAdmin" column="ROOM_ADMIN"></result>
		<result property="status" column="STATUS"></result>
	</resultMap>

	<resultMap type="Cooperation" id="coResultMap">
		<id property="coNo" column="CO_NO"></id>
		<result property="memberId" column="MEMBER_ID"></result>
		<result property="memberName" column="MEMBER_NAME"></result>
		<result property="coContents" column="CO_CONTENTS"></result>
		<result property="originalFilename" column="ORIGINAL_FILENAME"></result>
		<result property="renameFilename" column="RENAME_FILENAME"></result>
		<result property="enrollDate" column="ENROLL_DATE"></result>
		<result property="roomNo" column="ROOM_NO"></result>
		<result property="roomName" column="ROOM_NAME"></result>
	</resultMap>
	
<!-- 협업관리 방 리스트업 -->
	<select id="selectAllList" resultMap="coRoomResultMap"> 
		SELECT a.ROOM_NO, a.ROOM_NAME, a.MEMBER_ID, b.MEMBER_NAME AS ROOM_ADMIN, a.STATUS 
		FROM COOPERATION_ROOM a 
        INNER JOIN MEMBER b ON a.MEMBER_ID = b.MEMBER_ID
		WHERE a.STATUS = 'Y' 
		ORDER BY ROOM_NO DESC
	</select>
	
	<!-- 방 가져오기 -->
	<select id="selectAllByRoom" resultMap="coResultMap"> 
		SELECT a.CO_NO, a.MEMBER_ID, b.MEMBER_NAME, a.CO_CONTENTS, a.ORIGINAL_FILENAME, a.RENAME_FILENAME, a.ENROLL_DATE, a.ROOM_NO, c.ROOM_NAME 
		FROM COOPERATION a 
        INNER JOIN MEMBER b ON a.MEMBER_ID = b.MEMBER_ID 
		INNER JOIN COOPERATION_ROOM c ON a.ROOM_NO = c.ROOM_NO 
		WHERE a.ROOM_NO = #{ roomNo } 
		ORDER BY a.CO_NO 
	</select>

<!-- 글생성 -->	
	<insert id="insertCoop">
		INSERT INTO COOPERATION 
		VALUES (CO_ROOM_SEQ.NEXTVAL, #{memberId}, #{coContents}, #{originalFilename}, #{renameFilename}, SYSDATE, #{roomNo})
	</insert>

<!-- 글삭제 -->
	<delete id="deleteCoop" parameterType="int">
		DELETE FROM COOPERATION WHERE CO_NO = #{coNo}
	</delete>
	
<!-- 	
	
	
	<update id="updatecBoard">
		UPDATE CLUBBOARD SET C_BOARD_TITLE = #{cBoardTitle}, C_BOARD_CONTENTS = #{cBoardContents}, ORIGINAL_FILE = #{originalFileName} , RENAME_FILE = #{renameFileName}
		WHERE C_BOARD_NO = #{cBoardNo}
	</update>

============== 댓글 ================
	<resultMap type="Reply" id="replyResultMap">
		<id property="replyNo" column="REPLY_NO"/>
		<result property="replyContent" column="REPLY_CONTENT" />
		<result property="rCreateDate" column="R_CREATE_DATE" />
		<result property="cBoardNo" column="C_BOARD_NO" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="memberName" column="MEMBER_NAME" />
	</resultMap>

	<select id="selectReplyList" resultMap="replyResultMap">
		SELECT REPLY_NO, REPLY_CONTENT, R_CREATE_DATE, C_BOARD_NO, MEMBER_ID, MEMBER_NAME
		FROM CLUBBOARD_REPLY JOIN MEMBER USING(MEMBER_ID)
		WHERE C_BOARD_NO = #{cBoardNo } ORDER BY REPLY_NO ASC
	</select>
	
	<insert id="insertReply">
		INSERT INTO CLUBBOARD_REPLY
		VALUES(CBOARD_REPLY_SEQ.NEXTVAL, #{replyContent}, SYSDATE, #{cBoardNo},#{memberId})
	</insert>
	
	<update id="updateReply">
		UPDATE CLUBBOARD_REPLY SET REPLY_CONTENT = #{replyContent}
		WHERE REPLY_NO = #{replyNo}
	</update>
	
	<delete id="deleteReply">
		DELETE FROM CLUBBOARD_REPLY WHERE REPLY_NO = #{replyNo}
	</delete> -->

</mapper>