<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fBoardMapper">

 	<resultMap type="Freeboard" id="fBoardResultMap">
		<id property="fBoardNo" column="F_BOARD_NO" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="fWriter" column="F_WRITER" />
		<result property="fBullet" column="F_BULLET" />
		<result property="fBoardTitle" column="F_BOARD_TITLE" />
		<result property="fBoardContents" column="F_BOARD_CONTENTS" />
		<result property="enrollDate" column="ENROLL_DATE" />
		<result property="hits" column="HITS" />
		<result property="fStatus" column="F_STATUS" />
	</resultMap>
	
	<resultMap type="FreeboardCmt" id="fCmtResultMap">
		<id property="cmtNo" column="CMT_NO" />
		<result property="cmtContents" column="CMT_CONTENTS" />
		<result property="enrollDate" column="ENROLL_DATE" />
		<result property="fBoardNo" column="F_BOARD_NO" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="cmtStatus" column="CMT_STATUS" />
		<result property="cmtWriter" column="CMT_WRITER" />
	</resultMap>
	
<!-- 전체 글 수 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM FREEBOARD 
		WHERE F_STATUS = 'Y'
	</select>
	
<!-- 리스트 출력 -->
	<select id="selectAllList" resultMap="fBoardResultMap">
 		SELECT a.F_BOARD_NO, a.F_BULLET, a.F_BOARD_TITLE, b.MEMBER_NAME AS "F_WRITER", a.ENROLL_DATE, a.HITS 
 		FROM FREEBOARD a 
		JOIN MEMBER b USING(MEMBER_ID) 
		WHERE F_STATUS = 'Y' 
		ORDER BY F_BOARD_NO DESC
	</select>
	
<!-- 게시글 상세조회 -->
	<select id="selectOne" resultMap="fBoardResultMap">
		SELECT a.F_BOARD_NO, a.F_BULLET, a.F_BOARD_TITLE, a.F_BOARD_CONTENTS, b.MEMBER_NAME AS "F_WRITER", a.ENROLL_DATE, a.HITS 
		FROM FREEBOARD a 
		JOIN MEMBER b USING(MEMBER_ID) 
		WHERE F_BOARD_NO = #{fBoardNo} AND F_STATUS = 'Y'
	</select>
	
<!-- 게시글 작성 -->
	<insert id="insertFBoard">
		INSERT INTO FREEBOARD(F_BOARD_NO, MEMBER_ID, F_BULLET, F_BOARD_TITLE, F_BOARD_CONTENTS, ENROLL_DATE, HITS, F_STATUS) 
		VALUES(FBOARD_SEQ.NEXTVAL, #{memberId}, #{fBullet}, #{fBoardTitle }, #{fBoardContents }, SYSDATE, DEFAULT, DEFAULT)
	</insert>
	
<!-- 파일첨부 -->
	<insert id="uploadFile" parameterType="HashMap">
		INSERT INTO FREEBOARD_FILE (FILE_NO, ORIGINAL_FILENAME, RENAME_FILENAME, FILE_PATH, FILE_SIZE, UPLOAD_DATE, F_BOARD_NO) 
		VALUES(FBOARD_FILE_SEQ.NEXTVAL, #{originalFilename}, #{renameFilename}, #{filePath}, #{fileSize}, SYSDATE, FBOARD_SEQ.CURRVAL)
	</insert>
	
<!-- 게시글 수정 -->
	<update id="updateFBoard">
		UPDATE FREEBOARD 
		SET F_BOARD_TITLE = #{fBoardTitle}, F_BOARD_CONTENTS = #{fBoardContents}, F_BULLET = #{fBullet} 
		WHERE F_BOARD_NO = #{fBoardNo}
	</update>
	
<!-- 조회수  -->
	<update id="updateCount">
		UPDATE FREEBOARD 
		SET HITS = HITS + 1 
		WHERE F_BOARD_NO = #{fBoardNo}
	</update>

<!-- 게시글 삭제 -->
	<delete id="deleteFBoard" parameterType="_int">
		UPDATE FREEBOARD 
		SET F_STATUS = 'N' 
		WHERE F_BOARD_NO = #{fBoardNo}
	</delete>
	
<!-- 댓글리스트 -->
	<select id="selectAllCmtList" resultMap="fCmtResultMap">
		SELECT a.CMT_NO, a.CMT_CONTENTS, a.ENROLL_DATE, b.MEMBER_NAME AS "CMT_WRITER" 
		FROM FREEBOARD_CMT a 
		JOIN MEMBER b USING(MEMBER_ID) 
		WHERE F_BOARD_NO = #{fBoardNo} AND CMT_STATUS = 'Y' 
		ORDER BY CMT_NO DESC
	</select> 
	
<!-- 댓글달기  -->
	<insert id="insertCmt">
		INSERT INTO FREEBOARD_CMT 
		VALUES(FBOARD_CMT_SEQ.NEXTVAL, #{cmtContents}, SYSDATE, #{fBoardNo}, #{memberId}, DEFAULT)
	</insert>
	
<!-- 댓글수정
	<update id="updateReply">
		UPDATE REPLY 
		SET REPLY_CONTENT = #{replyContent} 
		WHERE REF_BOARD_NO = #{refBoardNo} AND REPLY_NO = #{replyNo} AND R_STATUS = 'Y'
	</update> -->
	
<!-- 댓글삭제
	<update id="deleteReply">
		UPDATE REPLY 
		SET R_STATUS = 'N' 
		WHERE REF_BOARD_NO = #{refBoardNo} AND REPLY_NO = #{replyNo}
	</update> -->
	
	
</mapper>