<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="memberMapper">
	<resultMap type="Member" id="memberResultMap">
		<id property="memberId" column="MEMBER_ID"></id>
		<result property="memberDept" column="MEMBER_DEPT"></result>
		<result property="memberJob" column="MEMBER_JOB"></result>
		<result property="memberName" column="MEMBER_NAME"></result>
		<result property="memberPwd" column="MEMBER_PWD"></result>
		<result property="memberRrn" column="MEMBER_RRN"></result>
		<result property="memberPhone" column="MEMBER_PHONE"></result>
		<result property="memberEmail" column="MEMBER_EMAIL"></result>
		<result property="memberAddr" column="MEMBER_ADDR"></result>
		<result property="bank" column="BANK"></result>
		<result property="bankAccount" column="ACCOUNT"></result>
		<result property="regDate" column="REG_DATE"></result>
		<result property="quitYn" column="QUIT_YN"></result>
		<result property="quitDate" column="QUIT_DATE"></result>
	</resultMap>

	<!-- 로그인 -->
	<select id="loginMember"  resultMap="memberResultMap">
	 SELECT *FROM MEMBER 
	 WHERE MEMBER_ID = #{memberId } AND MEMBER_PWD = #{memberPwd } 
	</select>
	<!-- 세션 -->
	<select id="selectOneMember" parameterType="Member" resultMap="memberResultMap">
		SELECT * FROM MEMBER 
		WHERE MEMBER_ID = #{memberId } 
	</select>
	<!-- 사원 목록 -->
	<select id="memberList" resultMap="memberResultMap">
		SELECT * FROM MEMBER
		
	</select>
	<select id="selectSearchList" resultMap="memberResultMap">
		SELECT * FROM MEMBER
		<if test="searchCondition.toString() == 'name'">
		 WHERE MEMBER_NAME LIKE '%' || #{searchValue } || '%'
		</if>	
		<if test="searchCondition.toString() == 'dept'">
		 WHERE MEMBER_DEPT LIKE '%' || #{searchValue } || '%'
		</if>	
		<if test="searchCondition.toString() == 'job'">
		 WHERE MEMBER_JOB LIKE '%' || #{searchValue } || '%'
		</if>	
		<if test="searchCondition.toString() == 'all'">
		WHERE MEMBER_NAME LIKE '%' || #{searchValue } || '%'
		OR MEMBER_DEPT LIKE '%' || #{searchValue } || '%'
		OR MEMBER_JOB LIKE '%' || #{searchValue } || '%'
		</if>
		
	</select>
	
	<!-- 등록 -->
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER (MEMBER_ID, MEMBER_DEPT, MEMBER_JOB, MEMBER_NAME, MEMBER_PWD, MEMBER_RRN, 
		MEMBER_PHONE, MEMBER_EMAIL, MEMBER_ADDR, BANK, REG_DATE, QUIT_YN, QUIT_DATE, ACCOUNT, PROFILE_MODIFY) 
		VALUES(ID_SEQ.NEXTVAL, #{memberDept }, #{memberJob }, #{memberName }, DEFAULT, #{memberRrn }, 
		#{memberPhone }, #{memberEmail }, #{memberAddr }, #{bank }, SYSDATE,'N', DEFAULT, #{bankAccount }, 'Y')

</insert>

	<select id="selectDepMemberList" resultMap="memberResultMap">
		SELECT * FROM MEMBER
		WHERE MEMBER_DEPT = #{depName }
	</select>
	<!-- 수정 -->
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER SET MEMBER_DEPT = #{memberDept }, MEMBER_JOB = #{memberJob }, MEMBER_PHONE = #{memberPhone } , MEMBER_EMAIL = #{memberEmail} , MEMBER_ADDR = #{memberAddr } , BANK = #{bank }, ACCOUNT = #{bankAccount } 
		WHERE MEMBER_ID = #{memberId }
		
	</update>
	
	
	
</mapper>