<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">
<resultMap type="Notice" id="noticeResultMap">
		<id property="noticeNo" column="NOTICE_NO"></id>
		<result property="memberId" column="MEMBER_ID"></result>
		<result property="noticeTitle" column="NOTICE_TITLE"></result>
		<result property="memberName" column="MEMBER_NAME"></result>
		<result property="noticeContents" column="NOTICE_CONTENTS"></result>
		<result property="enrollDate" column="ENROLL_DATE"></result>
		<result property="hits" column="HITS"></result>
		<result property="originalFileName" column="ORIGINALFILE_NAME"></result>
		<result property="renameFileName" column="RENAMEFILE_NAME"></result>
		</resultMap>
		<!-- 메인 화면에 공지사항 리스트-->
		<select id="selectList" resultMap="noticeResultMap">
		<![CDATA[
			SELECT ROWNUM, A.*
    		FROM NOTICE A
    		WHERE ROWNUM >= 1 AND ROWNUM <= 6
   			ORDER BY a.NOTICE_NO DESC
   			]]>
		</select>
		<!-- 게시판 전체리스트 -->
			<select id="selectAllList" resultMap="noticeResultMap"> 
		SELECT NOTICE_NO, MEMBER_ID, MEMBER_NAME, NOTICE_TITLE, NOTICE_CONTENTS, ENROLL_DATE, HITS
		FROM NOTICE JOIN MEMBER USING(MEMBER_ID) ORDER BY NOTICE_NO DESC
	</select>
	<!-- 게시판 상세 -->
	<select id="selectOne" resultMap="noticeResultMap" parameterType="_int">
		SELECT NOTICE_NO,MEMBER_ID,MEMBER_NAME,NOTICE_TITLE,NOTICE_CONTENTS,ENROLL_DATE,HITS,NOTICE.ORIGINALFILE_NAME,NOTICE.RENAMEFILE_NAME
		FROM NOTICE JOIN MEMBER USING(MEMBER_ID)
		WHERE NOTICE_NO= #{noticeNo } ORDER BY NOTICE_NO DESC
	</select>
	
	<select id="selectListCount" resultType="_int">
	SELECT COUNT(*) FROM NOTICE
	</select>
	<!-- 검색 -->
	<select id="selectSearchList" resultMap="noticeResultMap">
			SELECT NOTICE_NO, MEMBER_NAME, NOTICE_TITLE, NOTICE_CONTENTS, ENROLL_DATE
		FROM NOTICE JOIN MEMBER USING(MEMBER_ID)
			<if test="searchCondition.toString() == 'ALL'"> WHERE MEMBER_NAME LIKE '%' || #{searchValue } || '%' OR NOTICE_TITLE LIKE '%' || #{searchValue } || '%' OR NOTICE_CONTENTS LIKE '%' || #{searchValue } || '%' </if>
			<if test="searchCondition.toString() != 'ALL'"> WHERE ${searchCondition} LIKE '%' || #{searchValue } || '%'</if>
		 ORDER BY NOTICE_NO DESC
	</select>
	
	<select id="selectSearchListCount" resultType="_int">
		SELECT COUNT(*) FROM NOTICE JOIN MEMBER USING(MEMBER_ID)
			<if test="searchCondition.toString() == 'ALL'"> WHERE MEMBER_NAME LIKE '%' || #{searchValue } || '%' OR NOTICE_TITLE LIKE '%' || #{searchValue } || '%' OR NOTICE_CONTENTS LIKE '%' || #{searchValue } || '%' </if>
			<if test="searchCondition.toString() != 'ALL'"> WHERE ${searchCondition} LIKE '%' || #{searchValue } || '%'</if>
		 ORDER BY NOTICE_NO DESC
	</select>
	
	<!-- 글등록 -->
	<insert id="insertNotice">
		INSERT INTO NOTICE VALUES (NOTICE_SEQ.NEXTVAL, #{memberId },#{noticeTitle }, #{noticeContents },SYSDATE,0, #{originalFileName}, #{renameFileName })
	</insert>
	<!-- 조회수 -->
	<update id="updateCount">
		UPDATE NOTICE SET HITS = HITS + 1 WHERE NOTICE_NO = #{noticeNo }
	</update>
	<!-- 공지수정 -->
	<update id="updateNotice">
		UPDATE NOTICE SET NOTICE_TITLE = #{noticeTitle }, NOTICE_CONTENTS = #{noticeContents }, ORIGINALFILE_NAME = #{originalFileName } , RENAMEFILE_NAME = #{renameFileName }
		WHERE NOTICE_NO = #{noticeNo } 
	</update>
	<!-- 공지삭제 -->
	<delete id="deleteNotice" parameterType="_int">
		DELETE FROM NOTICE WHERE NOTICE_NO = #{noticeNo }
	</delete>
		</mapper>