<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="surveyMapper">
	<resultMap type="SurveyList" id="surveyResultMap">
		<id property="surveyNo" column="SURVEY_NO"></id>
		<result property="memberId" column="MEMBER_ID"></result>
		<result property="memberName" column="MEMBER_Name"></result>
		<result property="showName" column="SHOW_NAME"></result>
		<result property="showResult" column="SHOW_RESULT"></result>
		<result property="surveyTitle" column="SURVEY_TITLE"></result>
		<result property="surveyObject" column="SURVEY_OBJECT"></result>
		<result property="surveyQuestion" column="SURVEY_QUESTION"></result>
		<result property="surveyAnswers" column="SURVEY_ANSWERS"></result>
		<result property="target" column="TARGET"></result>
		<result property="startDate" column="START_DATE"></result>
		<result property="endDate" column="END_DATE"></result>
		<result property="writeDate" column="WRITE_DATE"></result>
	</resultMap>
	
	<insert id="insertSurveyList">
		INSERT INTO SURVEY_LIST VALUES(SURVEY_NO.NEXTVAL,#{memberId}, #{showName}, #{showResult}, #{surveyTitle}, #{surveyObject}, #{surveyQuestion}, #{surveyAnswers}, #{target}, #{startDate}, #{endDate}, SYSDATE)
	</insert>


	<select id="selectAllSurvey" resultMap="surveyResultMap">
		SELECT 
			SURVEY_NO ,
			MEMBER_ID ,
			SHOW_NAME ,
			SHOW_RESULT ,
			SURVEY_TITLE ,
			SURVEY_OBJECT ,
			SURVEY_QUESTION ,
			SURVEY_ANSWERS ,
			TARGET ,
			START_DATE ,
			END_DATE ,
			MEMBER_NAME,
			WRITE_DATE 
		FROM SURVEY_LIST JOIN MEMBER USING (MEMBER_ID) WHERE TARGET = #{memberDept} OR TARGET = '전체' ORDER BY SURVEY_NO DESC
	</select>
	
	<select id="selectOneSurvey" resultMap="surveyResultMap">
		SELECT * FROM SURVEY_LIST WHERE SURVEY_NO = #{surveyNo}
	</select>
	
	
	<!-- ===================설문조사 아이탬 =============== -->
	<resultMap type="SurveyItem" id="surveyItemResultMap">
		<id property="surveyNo" column="SURVEY_NO"></id>
		<result property="itemValue" column="ITEM_VALUE"></result>
		<result property="memberName" column="MEMBER_NAME"></result>
		<result property="count" column="COUNT"></result>
	</resultMap>
	
	<insert id="insertSurveyItem">
		INSERT INTO SURVEY_ITEM VALUES(#{surveyNo}, null , #{itemValue}, #{memberName})
	</insert>
	
	<select id="totalCount" resultType="_int">
		SELECT COUNT(*) FROM SURVEY_ITEM WHERE SURVEY_NO = #{surveyNo}
	</select>
	
	<select id="selectAllResult" resultMap="surveyItemResultMap">
		SELECT * FROM SURVEY_ITEM WHERE SURVEY_NO=#{surveyNo}
	</select>
	
	<select id="selectResultCount" resultMap="surveyItemResultMap">
		SELECT SURVEY_NO, ITEM_VALUE, COUNT(*) COUNT FROM SURVEY_ITEM GROUP BY SURVEY_NO, ITEM_VALUE HAVING SURVEY_NO = #{surveyNo} ORDER BY COUNT DESC
	</select>
	
	<select id="check" resultType="_int">
		SELECT COUNT(*) FROM SURVEY_ITEM WHERE SURVEY_NO = #{surveyNo} AND MEMBER_NAME = #{memberName}
	</select>
	
	<delete id="deleteSurvey">
		DELETE FROM SURVEY_LIST WHERE SURVEY_NO = #{surveyNo}
	</delete>
	
</mapper>
