.write-form {
    padding : 30px;
    border: 1px solid rgb(199, 198, 198);
    background-color: white;
}

.write-Wrap > p {
    font-size: 20px;
    font-weight: 600;
}

.write-form > p:first-child {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(138, 138, 138);
}

#Document-type {
    width: 100%;
    height: 10%;
    background-color:beige;
    margin-bottom: 70px;
}

#table {
    width: 100%;
}

#document-text {
    font-size: 20px;
    font-weight: 600;
}

td > select {
    font-size: 14px;
    width: 50%;
    height: 35px;
    text-align-last: center; 
}

td > select > option {
    padding: 10px;
}

tr > th {
    padding: 10px; 
    text-align: center;
}

.document-select {
    width : 200px;
}

.approval-line-title {
    font-size: 16px;
    
}

