#main-content {
	color: black;
}

#main-chart {
	margin: 0px auto;
}

.xi-plus {
	font-size: 50px;
}

.write-form {
	padding: 30px;
	border: 1px solid rgb(199, 198, 198);
	background-color: white;
	box-shadow: 0px 0px 10px #cacaca;
}

.write-Wrap>p {
	font-size: 20px;
	font-weight: 600;
	color: black;
}

.write-form>p:first-child {
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 0px;
	padding-bottom: 10px;
}

#document-type {
	width: 100%;
	height: 10%;
	margin-bottom: 40px;
}

.css-top-line {
	border-top: 1px solid #cecece;
}

.css-bottom-line {
	border-bottom: 1px solid #cecece;
}

.table1 {
	border-left: 3px solid #4ECDC4;
	border-right: 1px solid #cecece;
	padding-top: 1px;
	padding-left: 1px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.table1 .tr-1st {
	border-bottom: 1px solid #f1f1f1;
}

.table1 .tr-1st>th {
	width: 20%;
	padding-left: 10px;
	text-align: center;
}

.table1 .tr-1st>td {
	padding-left: 15px;
}

#tr-2st>td {
	padding-left: 0px;
}

.tr-2st th {
	background-color: #f7f7f7;
}

.tr-1st .input-box {
	text-align: center;
	width: 65%;
	height: 25px;
	border: 1px solid #999;
}

.tr-1st .input-box:focus {
	outline: none;
}

#document-text {
	font-size: 20px;
	font-weight: 600;
}

td>select {
	font-size: 14px;
	width: 25%;
	height: 25px;
	text-align-last: center;
}

td>select>option {
	padding: 10px;
}

tr>th {
	padding: 10px;
	vertical-align: middle;
	text-align: center;
}

.document-select {
	width: 200px;
}

#approval-line-title {
	display: flex;
	align-items: center;
}

#approval-line-title>span {
	display: inline-block;
	padding-right: 3px;
	font-weight: 600;
	font-size: 16px;
}

#document-approval-line {
	margin-bottom: 40px;
}

.modal-body>ul {
	display: inline-block;
	width: 60px;
}

.modal-body>ul>li {
	list-style: none;
}

.modeal-title>.table>tr>td {
	padding: 0px;
	width: 120px;
}

.document-select>select {
	background-color: white;
}

select {
	width: 200px;
	padding: 3px 30px 0px 0px;
	font-family: inherit;
	background:
		url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg)
		no-repeat 95% 50%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #999;
	border-radius: 0px;
	font-family: inherit;
}

select::-ms-expand { /* for IE 11 */
	display: none;
}

select:focus {
	outline: none;
}

#summerNote-title {
	border-top: 3px solid #4ECDC4;
	border-right: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	margin-bottom: 20px;
}

#summerNote-title>div {
	display: inline-block;
}

#summerNote-title>div>span {
	display: inline-block;
	width: 150px;
	height: 48px;
	font-size: 16px;
	font-weight: 600;
	padding-top: 10px;
	text-align: center;
	color: white;
	background-color: #4ECDC4;
}

#title-input-box {
	width: 66%;
	padding-left: 10px;
	padding-bottom: 8px;
}

#title-input-box>input {
	padding-left: 5px;
	width: 100%;
	line-height: 25px;
	display: inline-block;
	border: 1px solid #999;
}

.file-upload-input {
	border: 1px solid #cecece;
}

.form-group {
	margin-top: 30px;
}

.form-group > label {
	font-size: 16px;
	font-weight: 600;
}
.files input {
	outline: 2px dashed #92b0b3;
	outline-offset: -10px;
	-webkit-transition: outline-offset .15s ease-in-out, background-color
		.15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s
		linear;
	padding: 20px 0px 20px 30px;
	text-align: center !important;
	margin: 0;
	width: 100% !important;
}

.files input:focus {
	outline: 2px dashed #92b0b3;
	outline-offset: -10px;
	-webkit-transition: outline-offset .15s ease-in-out, background-color
		.15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s
		linear;
	border: 1px solid #92b0b3;
}

.files {
	position: relative
}

.files:after {
	pointer-events: none;
	position: absolute;
	top: 60px;
	left: 0;
	width: 50px;
	right: 0;
	height: 56px;
	content: "";
	display: block;
	margin: 0 auto;
	background-size: 100%;
	background-repeat: no-repeat;
}

.color input {
	background-color: #f1f1f1;
}

.files:before {
	position: absolute;
	bottom: 10px;
	left: 0;
	pointer-events: none;
	width: 100%;
	right: 0;
	height: 57px;
	display: block;
	margin: 0 auto;
	color: #2ea591;
	font-weight: 600;
	text-transform: capitalize;
	text-align: center;
}

#submit-input-form {
	
	margin-top: 30px;	
	margin-bottom: 20px;
	text-align:right;
}

.submit-btn {
	width: 70px;
	height: 37px;
	color: white;
	font-weight: 600;
	background-color: #4ECDC4;
	border: none;
	box-shadow: 0px 0px 2px #cacaca;
}

.modal-body {
	height: 100%;
	display: flex;
	
}

.departmember-table {
	margin-left: 5px;
	text-align: center;
	algin-items: center;
}
#rtb {
	border-left: 3px solid #4ECDC4;
	border-right: 1px solid #f7f7f7;
}
#rtb .rtb-tr-1st > th {
	width: 100px;
	background-color: #f7f7f7;
}

#rtb tbody tr {
	border-bottom: 1px solid #f7f7f7;
}

#rtb tbody tr:hover {
	background-color: #f3f3f3;
}

#rtb input {
	width : 15px;
	height: 15px;
}


.department-select-form  {
	height: 100%;
	display: block;
	margin: 0px 30px 0px 30px;
}

.department-select-form > table li {
	padding: 10px 0px 0px 10px;
}

.departmember-table {
	display: inline-block;
}

.approval-add-form {
	width: 100px;
	height: 100%;
	margin: 60px 10px 0px 20px;
}

.approval-add-form li {
	display: block;
	margin-bottom: 50px;
	text-align: center;
	width: 100px;
	height: 35px;
	algin-items: center;
	padding-top: 8px;
	background-color: #4ECDC4;
	color: white;
	font-size: 15px;
	font-weight: 600;
	box-shadow: 0px 0px 3px #d7d7d7;
}

.approval-add-form li:hover {
	background-color: #34b6ac;
}

.approval-text-form {
	width: 120px;
	margin-left: 10px;
}

.midApprovalTextArea {
	margin: 60px 10px 40px 10px;
	resize: none;
}

.finApprovalTextArea {
	margin-left: 10px;
	resize: none;
}

