tr > th {
    padding: 10px; 
    text-align: center;
}

.panel-body {
    background-color: white;
    padding-top: 10px;
}

.panel-body > .header-title {
    font-size: 25px;
    padding-top : 3px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.header-title > .fl {
    float: left;
}

.header-title > .fr {
    float: right;
}

.bottom-btnbox > .fl {
    float: left;
}

.bottom-btnbox > .fr {
    float: right;
}

.comment-count {
    padding-bottom: 7px;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.cmt-list {
    padding-left: 20px;
}

.ub-content:not(:last-child) {
    border-bottom: 1px solid rgb(224, 224, 224);
}

.profile-image > img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    vertical-align: top;
}

.comment-content {
    display: inline-block;
    padding-left: 5px;
}

.text {
    cursor: pointer;
    word-break: break-all;
    overflow: hidden;
}

.cmt-info-clear {
    padding-top: 15px;
}

.comment-btn {
    float: right;
}